* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* background: #f6f6f6; */
}

ol,
ul {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #262626;
  padding: 10px 0px;
}

.top-bar .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .d-flex .menu a {
  color: white;
}

.top-bar ul {
  display: flex;
}

.top-bar ul li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9801c0;
  border-radius: 50%;
  margin: 4px;
}

.top-bar ul li a:hover {
  background-color: #7AA93C;
}

.top-bar ul li a svg {
  color: white;
}

.top-bar ul li {
  list-style: none;
}

nav .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

nav .logo h2 {
  color: #9801c0;
}

nav .flex .menu ul {
  list-style: none;
  display: flex;
}

nav .flex .menu ul li a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 15px;
  color: #777;
}

nav .flex .menu ul li a:hover {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #home {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #register {
  background: #333;
  color: #fff;
}

.slider {
  background-image: url("/src/Img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  text-align: center;
}

.slider h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

.slider p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.slider .searchbar {
  margin-top: 40px;
  padding-bottom: 50px;
}

.slider .row input,
select {
  width: 100%;
  height: 50px;
  border-radius: 0;
  padding: 13px 15px;
  border: none;
  font-size: 18px;
  outline: none;
}

.slider .row>* {
  padding-left: 0px;
  padding-right: 0px;
}

.slider .row select {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.slider .row .btn {
  background-color: #9801c0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Featured {
  text-align: center;
  padding: 45px 0px;
  position: relative;
  background-color: #F6F6F6;
}

.Featured h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.Featured .tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.Featured h1 span {
  color: #9801c0;
}

.Featured p {
  line-height: 22px;
  color: #333;
}

.Featured-post {
  display: flex;
}

.Featured-post .items {
  width: 50%;
  margin: 15px;
}

.Featured-post .items img {
  width: 100%;
}

.catewrap {
  background-color: #FFFFFF;
  padding: 50px 0px;
  text-align: center;
}

.catewrap .titleTop {
  position: relative;
}

.catewrap .titleTop .tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.catewrap .titleTop h1 {
  font-weight: bold;
}

.catewrap .titleTop h1 span {
  color: #9801c0;
}

.catewrap .titleTop p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 45px;
}

.catewrap .row a {
  color: black;
}

.catewrap .row span {
  width: 100%;
  display: block;
  background: #eee;
  margin-top: 15px;
  padding: 8px 5px;
  border-bottom: 2px solid #ddd;
}

@media (max-width:1000px) {
  nav .menu {
    display: none;
  }

  nav .dropdown button {
    border: none;
    border-radius: 5px;
    background-color: #CCCCCC;
    padding: 5px;
  }

  nav .dropdown button>div {
    width: 35px;
    padding: 1.5px;
    margin: 5px;
    background-color: #9801c0;
  }
}


@media (max-width:1000px) {
  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
  }
}

@media (max-width:769px) {
  .slider {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;

    text-align: center;
  }

  .slider .searchbar {
    margin-top: 40px;
    padding-bottom: 0px;
  }

  .slider .row>div {
    margin-bottom: 20px;
  }

  .slider .row input,
  select {
    width: 92%;
    height: 50px;
    border-radius: 0;
    padding: 13px 15px;
    border: none;
    font-size: 18px;
    outline: none;
  }

  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 15px;
    color: #fff;
  }
}

@media (min-width:1000px) {
  nav .dropdown {
    display: none;
  }
}