* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* background: #f6f6f6; */
}

ol,
ul {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #262626;
  padding: 10px 0px;
}

.top-bar .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .d-flex .menu a {
  color: white;
}

.top-bar ul {
  display: flex;
}

.top-bar ul li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9801c0;
  border-radius: 50%;
  margin: 4px;
}

.top-bar ul li a:hover {
  background-color: #7AA93C;
}

.top-bar ul li a svg {
  color: white;
}

.top-bar ul li {
  list-style: none;
}

nav .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

nav .logo h2 {
  color: #9801c0;
}

nav .flex .menu ul {
  list-style: none;
  display: flex;
}

nav .flex .menu ul li a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 15px;
  color: #777;
}

nav .flex .menu ul li a:hover {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #home {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #register {
  background: #333;
  color: #fff;
}

.slider {
  background-image: url("/src/Img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  text-align: center;
}

.slider h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

.slider p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.slider .searchbar {
  margin-top: 40px;
  padding-bottom: 50px;
}

.slider .row input,
select {
  width: 100%;
  height: 50px;
  border-radius: 0;
  padding: 13px 15px;
  border: none;
  font-size: 18px;
  outline: none;
}

.slider .row>* {
  padding-left: 0px;
  padding-right: 0px;
}

.slider .row select {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.slider .row .btn {
  background-color: #9801c0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Featured {
  text-align: center;
  padding: 45px 0px;
  position: relative;
  background-color: #F6F6F6;
}

.Featured h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.Featured .tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.Featured h1 span {
  color: #9801c0;
}

.Featured p {
  line-height: 22px;
  color: #333;
}

.Featured-post {
  display: flex;
}

.Featured-post .items {
  width: 50%;
  margin: 15px;
}

.Featured-post .items img {
  width: 100%;
}

.catewrap {
  background-color: #FFFFFF;
  padding: 50px 0px;
  text-align: center;
}

/* common style */
.titleTop {
  position: relative;
  text-align: center;
}

.tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.titleTop h1 {
  font-weight: bold;
}

.titleTop h1 span {
  color: #9801c0;
}

.titleTop p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 45px;
}

/* common style */
.catewrap .row a {
  color: black;
}

.catewrap .row span {
  width: 100%;
  display: block;
  background: #eee;
  margin-top: 15px;
  padding: 8px 5px;
  border-bottom: 2px solid #ddd;
}

.latest-ads {
  padding: 50px 0px;
  background-color: #F6F6F6;
}

.latest-ads .titleTop h1 {}

.latest-ads ul {
  list-style: none;
}

.latest-ads img {
  width: 100%;
  margin: 14px 0px;
}

.latest-ads .viewallbtn a {
  width: fit-content;
  display: block;
  margin: 18px auto;
  background: #9c00ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
}

.howitwrap {
  padding: 40px 0px;
  background-color: white;
}

.howitwrap ul {
  list-style: none;
}

.howlist li {
  margin: 30px 0;
  text-align: center;
}

.howlist li .iconcircle {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 115px;
  margin-bottom: 15px;
  display: inline-block;
  background: #9c00ff;
}

.howlist li .iconcircle i {
  font-size: 48px;
  color: #fff;
}

.testimonial {
  background-color: #F6F6F6;
  padding: 40px 0px;
}

.carousel {
  width: 80%;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #9801c0;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.carousel-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  border: 1px solid #9c00ff;
}

.carousel-item .clientname {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
  color: #333;
}

.carousel-item .clientinfo {
  font-size: 14px;
  font-weight: 600;
  color: #9c00ff;
  margin-bottom: 10px;
}

.carousel-item .clientdescription {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
}

.carousel-item {
  text-align: center;
}

.appwraper {
  background: url("./Img/app-bg.jpg") no-repeat top;
  background-size: cover;
  padding: 70px 0;
  background-attachment: fixed;
  text-align: center;
}

.appwraper h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  position: relative;
  margin-bottom: 20px;
}

.appwraper .subtitle2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.appwraper p {
  color: #fff;
  line-height: 24px;
  max-width: 770px;
  margin: auto;

}

.appwraper .appbtn {
  margin-top: 20px;
}

.appwraper .appbtn a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 10px 10px;
}

.appwraper .appbtn a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.appwraper .appbtn a i {
  margin-right: 12px;
}

.Cities-ads {
  padding: 40px 0px;
  background-color: #F6F6F6;
}

.Cities-ads ul {
  list-style: none;
}

.Cities-ads .catelist li a {
  display: block;
  margin: 10px 0;
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.Cities-ads .catelist li span {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.Cities-ads .catelist li a:hover {
  color: #9c00ff;
}

.Cities-ads .wideBanner img {
  width: 80%;
  display: block;
  margin: 15px auto;
}

.footerWrap {
  background: #ddd url("./Img/ft-buildings.png") repeat-x top;
  padding: 170px 0 50px 0;
}

.footerWrap .ft-logo {
  margin-bottom: 15px;
  color: #9c00ff;
}

.footerWrap h5 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.footerWrap p {
  line-height: 22px;
  color: #333;
}

.footerWrap .ft-logo {
  margin-bottom: 15px;
}

.social {
  margin-top: 20px;
}

.social a {
  color: #666;
  font-size: 36px;
  display: inline-block;
  margin-right: 5px;
}

.social a:hover {
  color: #9c00ff;
}

.sidebar .social a {
  color: #444;
}

.footerWrap .quicklinks {
  list-style: none;
}

.footerWrap .quicklinks li {}

.footerWrap .quicklinks li a {
  display: block;
  color: #333;
  padding: 8px 0;
  font-size: 14px;
}

.footerWrap .quicklinks li a:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  margin-right: 7px;
}

.footerWrap .quicklinks li a:hover {
  color: #9c00ff;
  text-decoration: none;
}

.footerWrap .address {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  position: relative;
  padding-left: 35px;
  line-height: 20px;
}

.footerWrap .address:before {
  content: "\f277";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

.footerWrap .email {
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  color: #333;
}

.footerWrap .email:before {
  content: "\f0e0";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

.footerWrap .phone a,
.footerWrap .email a {
  color: #333;
  font-weight: 600;
}

.footerWrap .phone {
  position: relative;
  padding-left: 35px;
  margin-top: 25px;
  color: #333;
  font-size: 24px;
}

.footerWrap .phone:before {
  content: "\f095";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: #333;
}

.copyright {
  padding: 20px 0;
  text-align: center;
  color: #777;
}

.copyright ul li {
  display: inline;
}

.copyright ul li a {
  color: #555;
  padding: 0 5px;
  display: inline-block;
  margin: 5px;
}

.copyright a:hover {
  color: #000;
}

@media (max-width:1000px) {
  nav .menu {
    display: none;
  }

  nav .dropdown button {
    border: none;
    border-radius: 5px;
    background-color: #CCCCCC;
    padding: 5px;
  }

  nav .dropdown button>div {
    width: 35px;
    padding: 1.5px;
    margin: 5px;
    background-color: #9801c0;
  }
}


@media (max-width:1000px) {
  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
  }
}

@media (max-width:769px) {
  .slider {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;

    text-align: center;
  }

  .slider .searchbar {
    margin-top: 40px;
    padding-bottom: 0px;
  }

  .slider .row>div {
    margin-bottom: 20px;
  }

  .slider .row input,
  select {
    width: 92%;
    height: 50px;
    border-radius: 0;
    padding: 13px 15px;
    border: none;
    font-size: 18px;
    outline: none;
  }

  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 15px;
    color: #fff;
  }

  .carousel {
    width: 100%;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #9801c0;
    padding: 30px 20px;
    margin-bottom: 20px;
  }
}

@media (min-width:1000px) {
  nav .dropdown {
    display: none;
  }
}