* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  /* background: #f6f6f6; */
  font-family: 'Poppins', sans-serif;
}

ol,
ul {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #262626;
  padding: 10px 0px;
}

.top-bar .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .d-flex .menu a {
  color: white;
}

.top-bar ul {
  display: flex;
}

.top-bar ul li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9801c0;
  border-radius: 50%;
  margin-right: 10px;
}

.top-bar ul li a:hover {
  background-color: #7AA93C;
}

.top-bar ul li a svg {
  color: white;
}

.top-bar .post a {
  display: block;
  background-color: #7AA93C;
  padding: 7px 15px;
  color: white;
  border-radius: 7px;
}

.top-bar .post a:hover {
  background-color: #9c00ff;
  color: white;
}

.top-bar ul li {
  list-style: none;
}

nav .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}

nav .logo h2 {
  margin-bottom: 0px;
}

nav .logo h2 a {
  color: #9801c0;
}

nav .flex .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav .flex .menu ul li a {
  text-transform: uppercase;
  font-weight: 600;
  padding: 16px 15px;
  color: #777;
}

nav .flex .menu ul li a:hover {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #home {
  background-color: #9801c0;
  color: white;
}

nav .flex .menu #register {
  background: #333;
  color: #fff;
}

.nav-profile img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
}

.nav_profile_section {
  width: 350px;
  padding: 15px 20px;
  background-color: #9801c0;
  border-radius: 7px;
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 100;
}

.nav_profile_section_hide {
  display: none;
}

.nav_profile_section h3 {
  color: white;
  font-size: 22px;
}

.nav_profile_section img {
  width: 50px;
  height: 50px;
}

.nav_profile_nevigate ul li {
  line-height: 2;
}

.nav_profile_nevigate ul li a {
  color: white;
}

.nav_profile_nevigate ul li button {
  background-color: #7AA93C;
  color: white;
  padding: 7px 25px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

.slider {
  background-image: url("/src/Img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  text-align: center;
}

.slider h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

.slider p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.slider .searchbar {
  margin-top: 40px;
  padding-bottom: 50px;
}

.slider .row input,
select {
  width: 100%;
  height: 50px;
  border-radius: 0;
  padding: 13px 15px;
  border: none;
  font-size: 18px;
  outline: none;
}

.slider .row>* {
  padding-left: 0px;
  padding-right: 0px;
}

.slider .row select {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.slider .row .btn {
  background-color: #9801c0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Featured {
  padding: 45px 0px;
  position: relative;
  background-color: #F6F6F6;
}

.Featured .title {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  position: relative;
  text-align: center;
}

.Featured .tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.Featured h1 span {
  color: #9801c0;
}

.Featured .content {
  line-height: 22px;
  color: #333;
  text-align: center;
}


.catewrap {
  background-color: #FFFFFF;
  padding: 50px 0px;
  text-align: center;
}

/* common style */
.titleTop {
  position: relative;
  text-align: center;
}

.tips-border {
  width: 100px;
  margin: 20px auto;
  text-align: center;
  padding: 1px;
  background-color: #9801c0;
}

.titleTop h1 {
  font-weight: bold;
}

.titleTop h1 span {
  color: #9801c0;
}

.titleTop p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 45px;
}

/* common style */
.catewrap .row a {
  color: black;
}

.catewrap .row span {
  width: 100%;
  display: block;
  background: #eee;
  margin-top: 15px;
  padding: 8px 5px;
  border-bottom: 2px solid #ddd;
}

.latest-ads {
  padding: 50px 0px;
  background-color: #F6F6F6;
}



.gridlist .adimg {
  width: 40%;
  margin-right: 10px;
}

.gridlist .adimg img {
  width: 100%;
  height: 100%;
}



.gridlist .info {
  width: 60%;
}

.gridlist .info h3 {
  font-size: 18px;
  color: #9801c0;
  margin: 7px 0;

}

.gridlist .info .location i {
  color: #7AA93C;
  margin-right: 5px;
  font-size: 14px;
}

.gridlist .info .location p {
  color: #7AA93C;
  font-size: 14px;
  font-weight: 500;
}

.gridlist .info .status {
  color: #7AA93C;
  font-size: 14px;
  font-weight: 500;
  margin-left: 18px;
}

.gridlist .info .description {
  font-size: 13px;
  color: #000;
  margin: 10px 0px;
}

.gridlist .info .price {
  font-size: 18px;
  color: #9801c0;
  margin: 7px 0;
}

.latest-ads ul {
  list-style: none;
}


.latest-ads .viewallbtn a {
  width: fit-content;
  display: block;
  margin: 20px auto;
  background: #9c00ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
}

/* ============city-filter========= */
.city-filter {
  padding: 15px;
  margin: 4px;
}

.city-filter .tittle h3 {
  font-size: 22px;
}

.city-filter .tittle p {
  font-size: 18px;
  color: #7AA93C;
  font-weight: bold;
}

.city-filter .tittle span {
  color: #9801c0;
}

.city-filter .filter-catagory {
  width: fit-content;
  background-color: #ddd;
  padding: 10px 5px;
  margin: 15px 0px;
  border-left: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.city-filter .filter-catagory a {
  background-color: #9801c0;
  color: #F0F2F5;
  padding: 7px;
  margin-right: 7px;
}

.howitwrap {
  padding: 40px 0px;
  background-color: white;
}

.howitwrap ul {
  list-style: none;
}

.howlist li {
  margin: 30px 0;
  text-align: center;
}

.howlist li .iconcircle {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 115px;
  margin-bottom: 15px;
  display: inline-block;
  background: #9c00ff;
}

.howlist li .iconcircle i {
  font-size: 48px;
  color: #fff;
}

.testimonial {
  background-color: #F6F6F6;
  padding: 40px 0px;
}

.carousel {
  width: 80%;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #9801c0;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.carousel-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  border: 1px solid #9c00ff;
}

.carousel-item .clientname {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
  color: #333;
}

.carousel-item .clientinfo {
  font-size: 14px;
  font-weight: 600;
  color: #9c00ff;
  margin-bottom: 10px;
}

.carousel-item .clientdescription {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
}

.carousel-item {
  text-align: center;
}

.appwraper {
  background: url("./Img/app-bg.jpg") no-repeat top;
  background-size: cover;
  padding: 70px 0;
  background-attachment: fixed;
  text-align: center;
}

.appwraper h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  position: relative;
  margin-bottom: 20px;
}

.appwraper .subtitle2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.appwraper p {
  color: #fff;
  line-height: 24px;
  max-width: 770px;
  margin: auto;

}

.appwraper .appbtn {
  margin-top: 20px;
}

.appwraper .appbtn a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 10px 10px;
}

.appwraper .appbtn a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.appwraper .appbtn a i {
  margin-right: 12px;
}

.Cities-ads {
  padding: 40px 0px;
  background-color: #F6F6F6;
}

.Cities-ads ul {
  list-style: none;
}

.Cities-ads .catelist li a {
  display: block;
  margin: 10px 0;
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.Cities-ads .catelist li span {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

.Cities-ads .catelist li a:hover {
  color: #9c00ff;
}

.wideBanner img {
  width: 80%;
  display: block;
  margin: 15px auto;
}

/* ==============filter-item========= */
.filter-item {
  border: 1px solid #c6c6c6;
}

.filter-item .menu {
  /* display: none; */
}

.c4c4c4c4c4c4c4c {
  display: none;
}

.filter-item .menu ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.filter-item .menu ul li {
  line-height: 2;
  color: #9801c0;
}

.filter-item .menu ul li a {
  color: #9801c0;
}

.filter-item .menu ul li a:active {
  color: #7AA93C;
}

.filter-item .division {
  margin: 15px 0px;
  padding: 15px;
}

.filter-item .division h3 {
  font-size: 17px;
  margin-bottom: 0px;
  margin-right: 10px;
}

/* dhaka-divi */
.filter-item .division .d-flex {
  cursor: pointer;
  justify-content: space-between;
}

/* ==============register============ */
.register {
  padding: 40px 0px;
  background-color: #F6F6F6;
}

.register-card {
  max-width: 500px;
  display: block;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  padding: 25px 30px;
}

.register-card input {
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 10px 13px;
  margin: 7px auto;
  border: 1px solid #ddd;
}

.register-card input[type=submit] {
  width: 100%;
  background: #9c00ff;
  color: #fff;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.register-card .newuser {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 18px;
}

.register-card .newuser a {
  color: #9c00ff;
}

.register-card .newuser a:hover {
  color: #000;
  text-decoration: underline;
}

.register-card .socialLogin {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.register-card .socialLogin h5 {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  margin-bottom: 20px;
}

.register-card .socialLogin button {
  width: fit-content;
  display: block;
  margin: auto;
  background-color: #4081EC;
  padding-right: 25px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  border: none;
}

.register-card .socialLogin button i {
  background-color: #dd4b39;
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  margin-right: 14px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* =============contact-section============= */
.contact-section .contact-info .icon {
  background-color: #9c00ff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-section .contact-info .icon svg {
  width: 30px;
  height: 30px;
}

.contact-section .contact-info .content h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #130E35;
}

.contact-section .contact-info .content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #130E35;
}

/* =============privacy-policy============== */
.privacy-policy .item,
.termsofservices .item {
  margin: 30px 0px;
}

.privacy-policy .item h3,
.termsofservices .item h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #9c00ff;
}

.privacy-policy .item p,
.termsofservices .item p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #474849;
}

.privacy-policy .item span {
  color: #9801c0;
  font-size: 25px;
  margin-right: 4px;
}

.goog-te-gadget-simple {
  background-color: #9801c0;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
  color: white;
}

/* =============dashboard-section========== */


.cover-photo {
  position: relative;
}

.cover-photo img {
  width: 100%;
  height: 250px;
}

.cover-photo .profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #9c00ff;
  position: absolute;
  bottom: -40px;
  left: 0px;
}

.profile-info {
  margin-top: 50px;
  margin-bottom: 20px;
}

.profile-info h2 {
  font-weight: 700;
}

.profile-info p {
  font-weight: 500;
  width: 300px;
  margin-bottom: 10px;
}

.profile-info a {
  width: fit-content;
  display: block;
  padding: 10px 20px;
  background-color: #4081EC;
  color: white;
  font-weight: 500;
  border-radius: 7px;
}

.profile-menu {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-bottom: 15px;
}

.profile-menu ul {
  display: flex;
}

.profile-menu ul li a {
  padding: 10px;
  font-size: 18px;
  color: #000;
}

.profile-menu ul li a:hover {
  background-color: #9801c0;
  color: white;
}

.about-section i {
  font-size: 24px;
  color: #9c00ff;
  margin-right: 7px;
}

.about-section .about-info p {
  font-weight: 400;
}

.about-section .about-info li {
  margin-bottom: 10px;
}

.about-section .about-info span {
  font-weight: 600;
}

.about-section .about-info svg {
  width: 25px;
  height: 25px;
  color: #9c00ff;
  margin-right: 7px;
}

/* =============post-form============= */

.post-form input[type=submit] {
  font-size: 18px;
  background-color: #9c00ff;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px;
}

.updateprofile input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.updateprofile input[type=submit] {
  background-color: #9801c0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.updateprofile input:focus {
  border: 2px solid #9801c0;
}

/*========== moni310020rul======== */
.moni310020rul {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.moni310030rul {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7AA93C;
  padding: 30px;
  border-radius: 50%;
  border: 2px solid #9801c0;
  position: absolute;
  left: 88px;
  z-index: 100;
}

.moni310030rul i {
  font-size: 45px;
  color: #9801c0;
  text-shadow: 3px 1px #130E35;
}

.moni310030rul h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.moni310040rul {
  width: fit-content;
  background-color: #9801c0;
  color: #F0F2F5;
  padding: 14px;
  padding-right: 5px;
  text-transform: uppercase;
  z-index: 99;
  margin-left: 25px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom: 2px solid #130E35;
}

.moni310050rul {
  width: fit-content;
  background-color: #9801c0;
  color: #F0F2F5;
  padding: 14px;
  padding-left: 3px;
  margin-left: 5px;
  border-top: 2px solid #130E35;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.moni310040rul h5,
.moni310050rul h5 {
  margin-bottom: 0px !important;
  margin-left: 25px;
  padding-right: 20px;
}

.mo310060 {
  color: #9801c0;
}

.mo310060 input,
select {
  width: 100%;
  display: block;
  padding: 14px;
  margin-bottom: 17px;
}



.mo310060 input,
textarea,
select {
  border: 1px solid #9801c0;
}

.mo310060 textarea {
  resize: none;
}

.mo310060 label {
  margin-left: 2px;
}

.mo310060 input[type=submit] {
  background-color: #9801c0;
  color: white;
}

/* =============page-tittle=========== */
.page-tittle {
  background: url("./Img/page-title-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.page-tittle-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-tittle-flex h3 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}

.page-tittle-flex a {
  color: #fff;
  display: inline-block;
  padding: 0 5px;
}

.page-tittle-flex span {
  color: #9c00ff;
  display: inline-block;
  padding-left: 5px;
}

/* outlet-content */
.outlet-content {
  background-color: #F0F2F5;
  padding: 25px 0px;
}

/* ==============error-section====== */
.error-section {
  width: fit-content;
  display: block;
  margin: auto;
  position: relative;
}

.error-section h3 {
  font-size: 50px;
  position: absolute;
  top: 250px;
  left: 30%;
  font-weight: bolder;
  color: brown;
  transform: rotateX(360deg);
  display: none;
}



/* ==============footer============= */
.footerWrap {
  background: #ddd url("./Img/ft-buildings.png") repeat-x top;
  padding: 170px 0 50px 0;
}

.footerWrap .ft-logo {
  margin-bottom: 15px;
  color: #9c00ff;
}

.footerWrap h5 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.footerWrap p {
  line-height: 22px;
  color: #333;
}

.footerWrap .ft-logo {
  margin-bottom: 15px;
}

.footerWrap .social {
  margin-top: 20px;
}

.footerWrap .social a {
  color: #666;
  font-size: 36px;
  display: inline-block;
  margin-right: 5px;
}

.footerWrap .social a:hover {
  color: #9c00ff;
}

.footerWrap .sidebar .social a {
  color: #444;
}

.footerWrap .quicklinks {
  list-style: none;
}


.footerWrap .quicklinks li a {
  display: block;
  color: #333;
  padding: 8px 0;
  font-size: 14px;
}

.footerWrap .quicklinks li a:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  margin-right: 7px;
}

.footerWrap .quicklinks li a:hover {
  color: #9c00ff;
  text-decoration: none;
}

.footerWrap .address {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  position: relative;
  padding-left: 35px;
  line-height: 20px;
}

.footerWrap .address:before {
  content: "\f277";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

.footerWrap .email {
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  color: #333;
}

.footerWrap .email:before {
  content: "\f0e0";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
}

.footerWrap .phone a,
.footerWrap .email a {
  color: #333;
  font-weight: 600;
}

.footerWrap .phone {
  position: relative;
  padding-left: 35px;
  margin-top: 25px;
  color: #333;
  font-size: 24px;
}

.footerWrap .phone:before {
  content: "\f095";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  color: #333;
}

.copyright {
  padding: 20px 0;
  text-align: center;
  color: #777;
}

.copyright ul li {
  display: inline;
}

.copyright a {
  color: #9801c0;
  padding: 0 5px;
  display: inline-block;
  margin: 5px;
}

.copyright a:hover {
  color: #000;
}


@media (max-width:991px) {

  .container,
  .container-md {
    max-width: 96%;
    margin: auto;
  }
}

@media (max-width:1000px) {
  nav .menu {
    display: none;
  }

  nav .dropdown-menu {
    width: 240px;
    background-color: #9801c0;
  }

  nav .dropdown-menu .dropdown-item {
    color: white;
  }

  nav .dropdown-menu .dropdown-item:hover {
    color: black;
  }

  nav .dropdown button {
    border: none;
    border-radius: 5px;
    background-color: #CCCCCC;
    padding: 5px;
  }

  nav .dropdown button>div {
    width: 35px;
    padding: 1.5px;
    margin: 5px;
    background-color: #9801c0;
  }
}


@media (max-width:1000px) {
  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: #fff;
  }
}

@media (max-width:769px) {
  .slider {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;

    text-align: center;
  }

  .slider .searchbar {
    margin-top: 40px;
    padding-bottom: 0px;
  }

  .slider .row>div {
    margin-bottom: 20px;
  }

  .slider .row input,
  select {
    width: 92%;
    height: 50px;
    border-radius: 0;
    padding: 13px 15px;
    border: none;
    font-size: 18px;
    outline: none;
  }

  .slider .row select {
    border: none;
  }

  .slider h1 {
    text-align: center;
    font-size: 33px;
    margin-bottom: 15px;
    color: #fff;
  }

  .carousel {
    width: 100%;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #9801c0;
    padding: 30px 20px;
    margin-bottom: 20px;
  }

  .page-tittle-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width:1000px) {
  nav .dropdown {
    display: none;
  }
}

@media (max-width:620px) {
  .cover-photo img {
    width: 100%;
    height: 180px;
  }
}

@media (max-width:769px) {
  .gridlist .res-flex {
    flex-direction: column;
  }

  .gridlist .adimg {
    width: 100%;
    margin-right: 0px;
  }

  .gridlist .adimg img {
    width: 100%;
    height: 300px;
    display: block;
  }

  .gridlist .info {
    width: 100%;
  }


}

@media (max-width:979px) {
  .city-filter {
    padding: 0px;
    margin: 10px 0px;
  }
}

@media (max-width:576px) {
  .gridlist .adimg img {
    width: 100%;
    height: 220px;
    display: block;
  }


}

/* =======bloge======= */

.bloge-img {
  max-width: 100%;
}

.bloge-container {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
}

.blog-title {
  margin-top: 10px;
}


@media (max-width:620px) {

  .bloge-container {
    max-width: 100%;
    text-align: center;
  }

  .blog-items {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px;
    max-width: 80%;
    margin-top: 80px;
    margin: 0 auto;

  }

}


@media (min-width:700px) {
  .bloge-container {
    max-width: 100%;
    text-align: center;
  }

  .blog-items {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
    max-width: 80%;
    margin: 0 auto;
    text-align: none;
  }

  .bloge-card {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
  }
}

@media (min-width:1000px) {
  nav .dropdown {
    display: none;
  }

  .blog-items {
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px 300px;
    width: 1000px;
    margin-top: 80px;
  }

  .bloge-card {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
  }
}

/* ============= blogeDetail page style */

.blog_title {
  font-size: 18px;
  margin-top: 40px;
  line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {

  .blogs_imges {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .blogs_imges {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}